*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
}

body{
    background:#AEC6CF;
    min-height: 100vh;
}
header{
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.header{
   width: 100%;
    height: 90px;
    display: flex;
    background-color:#97d1e7;
    padding: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  
    
}

main{
  background-color: #97d1e7;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 20px 0px 0px 20px;
  border-radius: 30px;
}


    
        .componente3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 0px;
        border-radius: 10px 10px 0 0;
        gap: 0;
        min-height: 100px;
      }

      .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-radius: 0 0 10px 10px;
        padding: 60px;
       
      }

      article.card {
        
        border-radius: 10px;
        width: 200px;
        height: 400px;
        
      }

      article.card main {
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color:#6ecff5;
        border-radius:  10px 10px 0 0;
        padding: 20px;
       
      }







  
      

